<template>
  <v-container >
    <v-row justify="center" align="center" class="usernameForm mx-auto">
      <v-col>
        <v-text-field v-model="username" placeholder="username" />
        <v-btn block @click="enterGame">
          PLAY
        </v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  data () {
    return {
      username: ''
    }
  },
  methods: {
    ...mapActions(['setUsername']),
    enterGame () {
      this.setUsername(this.username)
      this.$router.push('/play')
    }
  }
}
</script>

<style>
.usernameForm {
  max-width: 450px;
}
</style>
