<template>
  <v-container>
    <!-- Players info -->
    <v-row>
      <v-col cols="12">
        <div class="title">
          GAME SCORE:
        </div>
      </v-col>
    </v-row>
    <!-- Global Scoreboard -->
    <v-row>
      <v-col cols="12" class="text-left">
        <span
          v-for="score in scoreBoard"
          :key="score.username"
          class="mb-1 mx-2 title"
          >
          {{ score.username }} : {{ score.score }}
        </span>
      </v-col>
    </v-row>
    <!-- Game -->
    <v-row no-gutters>
      <v-col
        v-for="col in boardSize"
        :key="`col-${col}`"
        cols="12"
        class="text-center"
      >
        <v-row no-gutters>
          <v-col
            v-for="row in boardSize"
            :key="`row-${row}`"
            class="g-button text-center column"
          >
            <img
              v-show="isMonsterOn(row, col)"
              class="mole"
              alt="Beaver"
              :src="require('@/assets/beaver.png')"
              @click="clickEvent(`${row}-${col}`)"
            >
          </v-col>
        </v-row>
      </v-col>
    </v-row>
    <!-- Scoreboard -->
    <v-row>
      <v-col cols="12">
        <div class="title">
          GLOBAL SCORE:
        </div>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12" class="text-left">
        <span
          v-for="score in globalScoreBoard"
          :key="score.username"
          class="mb-1 mx-2 title"
          >
          {{ score.username }} : {{ score.score }}
        </span>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { mapGetters, mapState } from 'vuex'
import axios from 'axios'

export default {
  computed: {
    ...mapState({
      username: state => state.username
    }),
    ...mapGetters({
      scoreBoard: 'getScores',
      globalScoreBoard: 'getGlobalScores',
      boardSize: 'getBoardSize',
      monsterPositions: 'getBoardState'
    })
  },
  beforeMount () {
    if (!this.username) {
      this.$router.push('/')
    }
  },
  methods: {
    isMonsterOn (row, col) {
      return this.monsterPositions[`${row}-${col}`]
    },
    async clickEvent (position) {
      // send via post to server
      console.log(position)
      const resp = await axios.post('http://localhost:8001', `WAK:${position}-${this.username}`)
      console.log('Resp', resp)
    }
  }
}
</script>
<style>
.g-button {
  border: 1px solid black;
  min-height: 170px;
}
.score-label {
  font-size: 45px;
}
.column {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mole {
  height:100px;
}
</style>
